.footer-container{
    .footer-top{
        background-image: url(../assets/footer-bg.jpg);
        color: white;
        ul{
            list-style: none;
        }
        .lista-container{
            
        }
    }

}